* {
  margin: 0;
  padding: 0;
}
body p {
  color: #888888;
  font-size: 20px;

}
body h3 {
  color: #555555;
  font-size: 24px;

}
main {
  margin: 50px;
  justify-content:space-evenly;
}

footer {
  background-color: rgb(196, 147, 147);
  color: #fff;
  text-align: center;
  padding: 30px;
}

/* HOME */
nav {
  background-color:  rgb(196, 147, 147);
  width: 100%;
}

nav ul {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none
}

nav li {
  width: 10%;
  position: relative;
  font-size: 28px;
}

nav a {
  position: relative;
  text-align: center;
  text-decoration: none;
  color: #fff;

}

nav a:hover {
 color: #555555;
}

main {
  display: flex;
}

.home-header video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.home-header h1, .about-header h1, .table-header h1 {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}



.left-section h2, .about-top-section h2 {
  border-left: 8px solid rgb(196, 147, 147);
  padding-left: 10px;
  margin: 0 0 30px 0;
}


.left-section article img {
  width: 150px;
  height: auto;
}

.left-section article {
display: flex;
}
.left-section article {
display: flex;
}
.left-section div {
  width: 300px;
  margin-left: 20px;
}
.left-section time {
  font-size: 12px;
  font-weight: 600;
  text-align: right;
}
.left-section article {
  margin-bottom: 30px;
  padding: 10px;
  background-color: #f5efef;
}

.left-section article img, .about-top-section article img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.right-section {

  margin-left: 10%;
  margin-top: 50px;
}
.right-section figure{
 margin-bottom: 50px;
}

.right-section figure img{
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.right-section figcaption {
  font-size: 20px;
  text-align: center;
}


/* ABOUT */

.about-header {
  position: relative;
	height: 50vh;
  background: url(/img/about.jpeg) center / cover;

}

.about-top-section  {

  margin-left: 10px;
}

.about-top-section article {
  display: flex;
  margin-bottom: 50px;
}

.about-top-section div {
  margin-left: 30px;
  width: 600px;

}
.about-top-section div h3 {
  margin-bottom: 20px

}
.about-top-section div p {
  padding-right: 20px;

}

.about-top-section article img {
 width:350px;
 height:250px;
 object-fit: cover;
 padding-left: 20px;
}



/* FEE */

.table-header {
  position: relative;
  height: 50vh;
  background-color: rgb(199, 157, 146);
}

table {
  border-collapse: collapse;
  
}
table th, table td {
  border: solid 1px black;
  /*実線 1px 黒*/
}


table caption {
  font-size: 40px;
  padding-bottom: 30px;

}
table th {
  color: #333333;
  font-weight: 700;
  font-size: 24px;
}
table td {
  color: #555555;
  font-size: 20px;
}
table th, td {
  width: 300px;
  padding: 50px;
  text-align: center;
}

/* CONTACT */

.contact-header {
  position: relative;
  height: 50vh;
  background-color: white;
  border: 1px solid #888888;
}
.contact-header h1{
  color: #333333;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}











